/* Print position picker */
.print-position-picker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.print-position-picker {
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.print-position-picker-position-button.custom-button-toggle {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  z-index: 10;
}

.watermark {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: rgba(64, 64, 64, 0.1);
  pointer-events: none;
  line-height: 1.5em;
  z-index: 1;
}
