.experiment-setup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.printhead-container {
  margin-right: 16px;
  padding: 12px;
  width: 450px;
}

.plate-map-container {
  padding: 12px;
  min-width: 200px; /* minimum width for the right card */
  max-width: 600px; /* maximum width for the right card */
  flex-grow: 1; /* allow the right card to grow to fill available space */
}

@media (max-width: 900px) {
  .printhead-container, .plate-map-container {
    width: 100%; /* set the width of both cards to 100% on smaller screens */
  }
}

/*.well {*/
/*  border: 1px solid #ccc;*/
/*  background-color: #eee;*/
/*  border-radius: 50%; !* Add this property to make wells circles *!*/
/*}*/



.mat-mdc-card-header {
  display: flex;
  padding: 16px;
}
