app-printhead-type-select,
app-printhead-needle-select {
  box-sizing: border-box;
}

app-printhead-color-picker {
  width: 65px;
}

.printhead-wavelength-wrapper {
  width: 125px;
}
app-printhead-tool-select {
  flex: 1;
  max-width: 180px;
}

.printhead-description-input {
  flex-grow: 1;
  /*flex: 1;*/
}

.printhead-tool-position {
  flex: 1;

}
/* printhead card content */

.mat-mdc-card-title > .mat-mdc-text-field {}
.mat-mdc-card-title > * {
  border-radius: 0;
}

.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
  display: none;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}

.input-container {
  display: flex;
}

.mat-button-toggle:focus {
  outline: none;
}

.mat-button-toggle:focus .mat-button-toggle-label-content {
  outline: 2px solid #007bff;
  outline-offset: 2px;
  border-radius: 50%;
}

.selected-button-glow {
  box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.5) !important;
}

.mat-mdc-card {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.custom-mat-select-option {
  font-size: 11px;
  height: 1rem;
}

.printhead-number-input-wrapper > * {
  padding: 0px !important;
  margin: 0px !important;
}
.printhead-number-input {
  font-size: 14px; /* decrease font size */
  height: 24px; /* decrease height */
  padding: 2px 4px; /* adjust padding as needed */
}

.input-wrapper {
  flex-direction: column;
  text-align: right;
}

.printhead-number-input {
  text-align: center;
}

.printhead-temperature-toggle-input-combo {
  align-items: center;
  grid-row: 3;
  grid-column: 1 / 3;
}

.toggle-input-wrapper {
  display: flex;
  flex-direction: row;
}

.mat-card-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.print-position-picker-wrapper {
  display: grid;
  grid-column: 1;
  padding: 16px;
  align-content: center;
}

/* Print depth */
.print-depth-wrapper {
  display: grid;
  grid-column: 2;
  padding: 22px;
  align-items: center;
}

/* printhead card footer */
.footer-wrapper {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.toggle-text {
  display: inline-block;
}

.active-toggle-container {
  margin: 1rem;
}

.printhead-card-title {
  display: flex;
  flex-direction: column;
}

.printhead-card-title-row-1-wrapper {
  display: flex;
}
.printhead-card-title-row-3-wrapper {
  display: flex;
  justify-content: flex-end;
}

.printhead-card-title-row-3-wrapper mat-form-field {
  margin-left: auto;
}


.printhead-card-text-wrapper {
  padding: 0 1rem;
}

.printhead-card-text {
  font-weight: 400;
  font-size: 0.75rem;
}



