<ng-container *ngIf="printhead">
  <mat-card [ngClass]="{'disabled': !printhead.active}" class="printhead-card">
    <mat-card-title>
      <div class="printhead-card-title">
        <!-- row 1 -->
        <div class="printhead-card-title-row-1-wrapper">
          <mat-form-field appearance="fill"
                          class="printhead-description-field grid-item printhead-description-input"
                          subscriptSizing="dynamic">
            <mat-label>Printhead Description</mat-label>
            <input class="printhead-description-input" matInput [(ngModel)]="printhead.description"
                   [disabled]="!printhead.active" (ngModelChange)="onDescriptionChange(printheadIndex, $event)">
          </mat-form-field>
          <app-printhead-tool-select
            [printhead]="printhead"
            [selectedPrintheadTool]="selectedPrintheadTool"
            (printheadToolChanged)="onPrintHeadToolChange($event)"
            (temperatureChanged)="onPrintHeadTemperatureChange($event)"
          ></app-printhead-tool-select>
        </div>
        <!-- row 2 -->
        <div class="printhead-card-title-row-2-wrapper">
          <app-suggested-ink-message
          [selectedPrintheadTool]="selectedPrintheadTool"></app-suggested-ink-message>
        </div>
        <!-- row 3 -->
        <div class="printhead-card-title-row-3-wrapper">
          <app-printhead-tool-options
            [printhead]="printhead"
            [printheadIndex]="printheadIndex"
            [selectedPrintheadTool]="selectedPrintheadTool"
          ></app-printhead-tool-options>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div class="mat-card-content-wrapper">
        <div class="print-position-picker-wrapper">
          <app-print-position-picker
            [printhead]="printhead"
            [selectedNeedle]="selectedNeedle"
            [selectedColor]="selectedColor"></app-print-position-picker>
        </div>
        <div class="print-depth-wrapper grid-item">
          <app-print-depth [printhead]="printhead"></app-print-depth>
        </div>
      </div>
    </mat-card-content>

    <div class="footer-wrapper">

      <!-- All -->
      <app-printhead-color-picker
        [printhead]="printhead"
        [printheadIndex]="printheadIndex"
        class="printhead-color-picker"
      ></app-printhead-color-picker>
      <div class="active-toggle-container flex-item">
        <div class="toggle-text">
          <div *ngIf="printhead.active">active</div>
          <div *ngIf="!printhead.active">inactive</div>
        </div>
        <mat-slide-toggle [(ngModel)]="printhead.active" class="active-toggle" (ngModelChange)="OnToggleChange($event)"></mat-slide-toggle>
      </div>
    </div>
  </mat-card>
</ng-container>
