<div class="container" [ngStyle]="containerStyle">
  <h1>Cell Culture Plate Map</h1>
  <div style="top: 2em; left: 2em;">
    <mat-form-field appearance="fill">
      <mat-label for="plateFormat">Select a plate format</mat-label>
      <mat-select id="plateFormat" [(ngModel)]="selectedPlate" (ngModelChange)="updatePlateMap(selectedPlate)">
        <mat-option *ngFor="let plate of plateFormats" [value]="plate">
          {{ plate.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="plate" [ngStyle]="plateStyle">
    <div class="blankTitle"></div>
    <div class="colHeader" *ngFor="let colHeader of plateMap.columnHeaders; let colIndex = index" [ngStyle]="colHeader.style"
         (click)="toggleColumnSelection(colIndex, $event)">
      {{colHeader.label}}
    </div>
    <div class="rowHeader" *ngFor="let rowHeader of plateMap.rowHeaders; let rowIndex = index" [ngStyle]="rowHeader.style"
         (click)="toggleRowSelection(rowIndex, $event)">
      {{rowHeader.label}}
    </div>
    <div class="plate-row" *ngFor="let plateRow of plateMap.wells; let i = index">
      <div *ngFor="let well of plateRow; let j = index"
           [ngStyle]="well.style"
           [ngClass]="{'selected-well': well.selected, 'unselected-well': !well.selected, 'base-well-style': true}"
           (click)="toggleWellSelection(i,j)">
        <div *ngFor="let printHead of activePrintHeads">

            <div *ngFor="let button of printHead.printHeadButtons; let k = index">
              <button *ngIf="well.selected && printHead.printPositionStates[k]" mat-flat-button
                      [ngStyle]="_getPrintPositionButtonStyle(printHead, k, well)"
              ></button>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
