.unselected-well {
  background-color: white;
}

.selected-well {
  border: 1px solid green !important;
  -webkit-box-shadow: 0px 0px 2px 3px rgba(39,204,6,0.39);
  -moz-box-shadow: 0px 0px 2px 3px rgba(39,204,6,0.39);
  box-shadow: 0px 0px 2px 3px rgba(39,204,6,0.39);
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 0px;
}
.plate-input.flex-item {
  flex: 4;
}

.plate-format-select-wrapper {
  margin: 5px;
}

.calibration-form.flex-item {
  flex: 1;
  max-width: 200px;
}

.plate-map {
  display: grid;
  gap: 5px;
}

.well-row {
  display: contents;
  z-index: 10;
}

.plate {
  margin: 5px;
}

.plate-calibration-container {
  display: flex;
  flex-direction: row;
}
.calibration-form.flex-item {
  flex: 1;
  max-width: 200px;
  margin: 5px; /* Adjust this value to create the desired spacing */
  transform: scale(0.6);
}

.print-position-picker-position-button.custom-button-toggle {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  z-index: 10;
}

.magnifier {
  position: absolute;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  /* Add a glass effect */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.magnified-content {
  position: relative;
}

.plate-origin-marker {
  position: absolute;
}

.major-tick {
  stroke-width: 2;
}

.minor-tick {
  stroke-width: 1;
}

.axes {
  z-index: 100;
}
