<div class="culture-plate flex-container">
  <div class="plate-input flex-item">
    <h1>Cell Culture Plate Map</h1>
    <div style="top: 2em; left: 2em;">
      <mat-form-field appearance="fill">
        <mat-label for="plateFormat">Select a plate format</mat-label>
        <mat-select id="plateFormat" [value]="selectedPlate" (selectionChange)="onSelectedPlateChanged($event)">
          <mat-option *ngFor="let plate of plateFormats" [value]="plate">
            {{ plate.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="calibration-form flex-item">
    <div class="calibration-controls">
      <mat-card>
        <mat-form-field appearance="fill" class="calibration-control no-subscript-wrapper">
          <mat-label>X Calibration</mat-label>
          <input matInput type="number" [(ngModel)]="xCalibration" step="0.0005">
        </mat-form-field>
        <mat-form-field appearance="fill" class="calibration-control no-subscript-wrapper">
          <mat-label>Y Calibration</mat-label>
          <input matInput type="number" [(ngModel)]="yCalibration" step="0.0005">
        </mat-form-field>
        <mat-form-field appearance="fill" class="calibration-control no-subscript-wrapper">
          <mat-label>Z Calibration</mat-label>
          <input matInput type="number" [(ngModel)]="zCalibration" step="0.0005">
        </mat-form-field>
        <button mat-raised-button (click)="updateCalibrationValues()">Apply</button>
      </mat-card>
    </div>
  </div>
  <div class="plate" [ngStyle]="plateStyle">
    <div class="blankTitle"></div>
    <div class="colHeader" *ngFor="let colHeader of plateMap.columnHeaders; let colIndex = index" [ngStyle]="colHeader.style"
         (click)="toggleColumnSelection(colIndex, $event)">
      {{colHeader.label}}
    </div>
    <div class="rowHeader" *ngFor="let rowHeader of plateMap.rowHeaders; let rowIndex = index" [ngStyle]="rowHeader.style"
         (click)="toggleRowSelection(rowIndex, $event)">
      {{rowHeader.label}}
    </div>
    <div class="plate-row" *ngFor="let plateRow of plateMap.wells; let i = index">
      <div *ngFor="let well of plateRow; let rw = index"
           class="print-position-picker"
           [ngStyle]="well.style"
           [ngClass]="{'selected-well': well.selected, 'unselected-well': !well.selected, 'base-well-style': true}"
           (click)="toggleWellSelection(i,rw)">
          <ng-container *ngFor="let printHead of printHeads">
            <ng-container *ngFor="let button of printHead.printPositionButtons; let buttonIndex = index">
              <mat-button-toggle *ngIf="well.selected && button.selected"
                      [ngStyle]="getMergedStyles(printHead, button)"
                      [style.background-color]="printHead.color"
              ></mat-button-toggle>
            </ng-container>
          </ng-container>
      </div>
    </div>
  </div>
</div>



