.print-head-setup-component-wrapper {
  display: flex;
  background: lightblue;
}

.mat-mdc-floating-label {
  font-size: 10px;
}
.printhead-number-input-wrapper {
  flex: 1;
  width:150px;
}

/* Reduce the padding of the mat-card */
printhead-setup .mat-card {
  padding: 16px; /* Adjust this value as needed */
}

/* Reduce the font size of the title */
printhead-setup .mat-card-title {
  font-size: 9px; /* Adjust this value as needed */
}

printhead-setup .mat-card-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 4px;
}

.mat-mdc-card-header {
  padding-bottom: 8px;
}

/* Add a maximum height and vertical scrollbar */
.grid-list-container {
  max-height: 650px; /* Adjust this value as needed */
  overflow-y: auto;
  min-width: 300px;
  flex: 5;
}

/* Add this to your component's CSS file */
.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
}

/* Add this to your component's CSS file */
.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}


.active-toggle-wrapper {
  display: flex;
  vertical-align: top; /* Align the toggle to the top */
}

.active-toggle {
  margin-left: auto;
}

.print-position-picker {
  width: 85%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.print-position-picker button {
  position: absolute;
  border-radius: 50%;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}

.input-container {
  display: flex;
}

.color-field {
  width: 50px;
}

.print-position-picker-scalar {
  transform: scale(1.0);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
