/* Reduce the padding of the mat-card */
printhead-setup .mat-card {
  padding: 8px; /* Adjust this value as needed */
}

/* Reduce the font size of the title */
printhead-setup .mat-card-title {
  font-size: 9px; /* Adjust this value as needed */
}

printhead-setup .mat-card-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

mat-form-field {
  font-size: 9px;
}
mat-card > input {
  font-size: 9px;
}

.mat-mdc-card-header {
  padding-bottom: 8px;
}

/* Add a maximum height and vertical scrollbar */
.grid-list-container {
  max-height: 650px; /* Adjust this value as needed */
  overflow-y: auto;
}

.small-header {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
  margin: 0;
}

.button {
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
}

.active-toggle {
  margin-left: auto;
}

.print-position-picker {
  width: 85%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}
