<mat-form-field *ngIf="printhead"
                floatLabel="always"
                subscriptSizing="dynamic"
                appearance="fill"
                class="needle-od-field"
                matTooltip="need to add odMM here"
                >
  <mat-label class="custom-mat-label">Needle</mat-label>
  <mat-select class="needle-select custom-mat-select"
              [formControl]="needleControl"
              [disabled]="!printhead.active">
    <mat-option *ngFor="let needle of availableNeedles" [value]="needle"
                class="custom-mat-select-option">{{needle.name}}</mat-option>
  </mat-select>

</mat-form-field>
