<mat-card>
  <mat-card-header class="printhead-setup-header">
    <div class="mat-card-header-grid">
      <mat-card-title class="printhead-setup-title">Printhead Setup</mat-card-title>
      <div class="label">No of printheads:</div>
      <mat-chip-set class="printhead-chip-set-container">
        <app-printhead-chip *ngFor="let printhead of printHeads"
        [printhead]="printhead"></app-printhead-chip>
      </mat-chip-set>



        <input class="printhead-number-input" type="number" min="1" max="20" class="printhead-number-input"
               [(ngModel)]="printHeadCountInput" (change)="onPrintHeadCountChange()">

    </div>
  </mat-card-header>
  <mat-card-content class="printhead-cards-container">
    <div class="grid-list-container">
<!--      <div class="flex-container" style="justify-content: center; padding-right: 0; padding-left: 0;">-->
        <div *ngFor="let printhead of printHeads; let i = index;" class="flex-item">
          <app-printhead-card-component
            [printhead]="printhead"
            [printheadIndex]="i"
            [wellDiamMM]="wellDiamMM"
            ></app-printhead-card-component>
        </div>
      </div>
<!--    </div>-->
  </mat-card-content>
</mat-card>
