.vertical-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
  width: 100%;
}

.vertical-slider {
  position: relative;
  width: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%; /* Set the height of the vertical slider (adjust as needed) */
}

.vertical-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
  width: 100%;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

.slider-thumb, .vertical-slider .vertical-thumb {
  position: absolute;
  width: 16px;
  height: 4px;
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
  z-index: 20;
  left: 50%; /* Add this line to center the thumb horizontally */
  transform: translateX(-50%);
}

.vertical-slider .vertical-thumb {
  border-radius: 5px;
  background-color: rgba(33, 150, 243, 0.75);
}

.vertical-slider .vertical-range {
  position: absolute;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.5);
}

.tick-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 50%; /* Add this line to center the thumb horizontally */
  transform: translateX(-50%);
}

.tick-label-container {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.vertical-slider-tick {
  /*position: relative;*/
  height: 1px;
}

.slider-labels, .vertical-slider-tick-label {
  font-size: 9px;
  font-weight: 200;
}

.vertical-slider-tick-label {
  white-space: nowrap;
  position: relative;
  left: -15px;
  transform: translateX(-50%); /* Adjust for the element's width */
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(-50%, -100%);
  bottom: 50%;
  margin-bottom: 8px;
  z-index: 1000;
  width: 16px;
}
