<div class="vertical-slider">
  <div
    class="vertical-range"
    [style.bottom]="startThumbPosition + '%'"
    [style.height]="(endThumbPosition - startThumbPosition) + '%'"
  ></div>
  <div
    class="vertical-thumb"
    [style.bottom]="startThumbPosition + '%'"
    (mousedown)="onMouseDown($event, 'start')"
  >
    <div class="tooltip" [style.bottom]="startThumbPosition + 30 + 'px'">{{ startValue }}</div>
  </div>
  <div
    class="vertical-thumb"
    [style.bottom]="endThumbPosition + '%'"
    (mousedown)="onMouseDown($event, 'end')"
  >
    <div class="tooltip" [style.bottom]="endThumbPosition + 30 + 'px'">{{ endValue }}</div>
  </div>
  <ng-container *ngFor="let tick of ticks">
    <div class="tick-container" [style.bottom]="tick.bottom">
      <div
        class="vertical-slider-tick"
        [class.major]="tick.major"
      ></div>
      <span
        class="vertical-slider-tick-label"
        *ngIf="tick.label"
      >
        {{ tick.label }}
      </span>
    </div>
  </ng-container>

</div>
