.print-depth-slider {
  display: block;
  height: 140px;
  padding-top: 12px;
}

.image-container {
  background-image: url('../../assets/single_well_web.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; /* Make sure the container is positioned */
  z-index: 1; /* Set a z-index to make it appear above other elements */
  width: 90%;
  height: 90%;
  overflow: visible;
}
