.print-depth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vertical-slider {
  width: 50px;
  height: 300px;
  position: relative;
}

.mat-slider-vertical {
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: center;
  transform: rotate(-90deg) translateY(-100%);
}

.mat-slider-thumb-label {
  background-color: red !important;
}
