.app-container {
  padding: 24px;
}

.layout-container {
  display: flex;
  align-items: flex-start;
}

.placeholder-for-sidebar {
  width: 140px; /* set the width of the left space */
}

@media screen and (max-width: 1000px) {
  .placeholder-for-sidebar {
    width: 0; /* set the width of the left space to 0 on smaller screens */
    overflow: hidden; /* prevent content from spilling over */
  }
}

.experiment-setup-container {
  flex-grow: 1; /* this will take the rest of the space available */
}

