
  <mat-form-field class="printhead-number-input-wrapper" appearance="fill">
    <mat-label>Number of Printheads</mat-label>
    <input matInput type="number" min="1" max="20" class="printhead-number-input" [(ngModel)]="printHeadCountInput" (change)="onPrintHeadCountChange()">
  </mat-form-field>

<div class="grid-list-container">
  <div class="flex-container" style="justify-content: center; padding-right: 0; padding-left: 0;">
    <div *ngFor="let printhead of printHeads;" class="flex-item">
      <mat-card [ngClass]="{'disabled': !printhead.active}">

        <mat-card-title>
          <div class="printhead-setup-title" style="font-size: 0.74rem;">
            <mat-form-field appearance="fill" class="printhead-description-field grid-item">
              <mat-label>Printhead Description</mat-label>
              <input matInput [(ngModel)]="printhead.description" [disabled]="!printhead.active">
            </mat-form-field>
            <mat-form-field appearance="fill" class="needle-od-field grid-item">
              <mat-label class="custom-mat-label">Needle</mat-label>
              <mat-select class="needle-select custom-mat-select" [(ngModel)]="printhead.needle" (selectionChange)="onNeedleChange(printhead, $event.value)">
                <mat-option *ngFor="let needle of needles" [value]="needle" class="custom-mat-select-option">{{needle.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="color-field grid-item">
              <mat-label>Color</mat-label>
              <input *ngIf="printhead.active" matInput type="color" [(ngModel)]="printhead.color" (change)="onPrintPositionColorChange(printhead, printhead.color)">
              <input *ngIf="!printhead.active" matInput type="color" [(ngModel)]="inactiveColor" [disabled]="true">
            </mat-form-field>
          </div>
        </mat-card-title>

        <mat-card-content class="grid-container">
          <div class="print-position-picker-wrapper">
            <div class="print-position-picker grid-item"
                 [ngStyle]="getStylePrintPositionPicker()">
              <div class="watermark" *ngIf="!printPositionService.toScale">
                NOT TO<br>SCALE
              </div>
              <ng-container *ngFor="let printHeadButton of printhead.printPositionButtons; let j = index">
                <button class="print-position-picker-position-button custom-button-toggle" [ngStyle]="{
                  'color': printhead.color,
                  'width': printPositionService.printPositionButtonWidthPX + 'px',
                  'top': 'calc(' + printPositionService.printPositionOriginsPct[j].y + '% - ' + (printPositionService.printPositionButtonWidthPX/2) + 'px)',
                  'left': 'calc(' + printPositionService.printPositionOriginsPct[j].x + '% - ' + (printPositionService.printPositionButtonWidthPX/2) + 'px)'
                }"
                        (click)="togglePrintHeadButton(printhead, printHeadButton)"
                ></button>
              </ng-container>

            </div>
          </div>
          <div class="print-depth-wrapper grid-item">
            <app-print-depth></app-print-depth>
          </div>
        </mat-card-content>


        <div class="footer-wrapper">

          <div class="active-toggle-container flex-item" style="min-height: 32px;">
            <mat-slide-toggle [(ngModel)]="printhead.active" class="active-toggle" (change)="onActiveToggleChange(printhead, $event)"></mat-slide-toggle>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

