.print-head-setup-component-wrapper {
  display: flex;
  background: lightblue;
}

.mat-mdc-floating-label {
  font-size: 10px;
}

.printhead-number-input-wrapper {
  flex: 1;
  width: 150px;
}

.printhead-header.flex-container {
  padding: 0px;
  gap: 0px;
  height: 62px;
}

.printhead-description-field.flex-item {
  flex: 3;
}

.needle-od-field.flex-item {
  flex: 2;
}

.color-field-container.flex-item {
  flex: 3;

}

.active-toggle-container.flex-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 100%;
}

.footer-wrapper {
  margin-bottom: 0;
}

mat-mdc-card {
  padding: 16px;
}

printhead-setup .mat-card-title {
  font-size: 9px; /* Adjust this value as needed */
}

printhead-setup .mat-card-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 4px;
}

.mat-mdc-card-header {
  padding-bottom: 8px;
}

.grid-list-container {
  max-height: 650px; /* Adjust this value as needed */
  overflow-y: auto;
  direction: rtl;
  padding-left: 8px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  min-width: 300px;
  flex: 5;
  margin: 0;
}

.grid-list-container > * {
  direction: ltr;
}
.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
  display: none;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}

.active-toggle {
  margin-left: auto;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}

.input-container {
  display: flex;
}

.print-position-picker-scalar {
  transform: scale(1.0);
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*  width: 20px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  box-shadow: inset 0 0 5px grey;*/
/*  border-radius: 10px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #ffd54f;*/
/*  border-radius: 10px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #ffb94f;*/
/*}*/

/* width */
::-webkit-scrollbar {
  width: 12px; /* Make the scrollbar thinner */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Remove background color */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Add an inset box-shadow */
  border-radius: 10px; /* Add border-radius for a smoother look */
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(64,64,64,0.2); /* Use a semi-transparent gray color */
  border: 1px solid rgb(64,64,64,0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5); /* Slightly increase opacity on hover */
}


.mat-button-toggle:focus {
  outline: none;
}

.mat-button-toggle:focus .mat-button-toggle-label-content {
  outline: 2px solid #007bff;
  outline-offset: 2px;
  border-radius: 50%;
}

.selected-button-glow {
  box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.5) !important;
}

.color-field-container,
.active-toggle-container {
  display: flex;
  align-items: center;
  background-color: inherit;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 8px;
}

.grid-item {
  /* Add any other styles you want to apply to the grid items */
}
