.print-head-setup-component-wrapper {
  display: flex;
  background: lightblue;
}

.mat-mdc-floating-label {
  font-size: 10px;
}
.printhead-number-input-wrapper {
  flex: 1;
  width:150px;
}

.printhead-header.flex-container {
  padding: 0px;
  gap: 0px;
}
.printhead-description-field.flex-item {
  flex: 4;
}

/* Reduce the padding of the mat-card */
mat-mdc-card {
  padding: 16px;
}
.printhead-header.flex-container {
  height: 62px;
}
/* Reduce the font size of the title */
printhead-setup .mat-card-title {
  font-size: 9px; /* Adjust this value as needed */
}

printhead-setup .mat-card-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 4px;
}

.mat-mdc-card-header {
  padding-bottom: 8px;
}

/* Add a maximum height and vertical scrollbar */
.grid-list-container {
  max-height: 650px; /* Adjust this value as needed */
  overflow-y: auto;
  min-width: 300px;
  flex: 5;
}

/* Add this to your component's CSS file */
.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
}

/* Add this to your component's CSS file */
.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}


.active-toggle-wrapper {
  display: flex;
  vertical-align: top; /* Align the toggle to the top */
}

.active-toggle {
  margin-left: auto;
}

.print-position-picker {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.custom-button-toggle.mat-button-toggle {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}

.input-container {
  display: flex;
}

.print-position-picker-scalar {
  transform: scale(1.0);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd54f   ;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.grid-list-container {
  /* Add any container-specific styles here */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* You can adjust the gap between flex items */
  padding: 8px;
}

.flex-item {
  flex: 1;
  max-width: calc(100% - 16px);
  margin-bottom: 8px;
}
