<mat-card>
  <mat-card-header [ngStyle]="experimentSetupHeaderStyle" style="background-color: coral;"
                   class="experiment-setup-header flex-container">
    <mat-card-title style="margin: 0 0 0 1em;" class="flex-item">Printhead Setup</mat-card-title>
    <div class="input-wrapper flex-item">
      <div class="label" style="margin: 0.5em 1em 0.25em 0;">No of printheads:</div>
      <input style="margin: 0 1em 1em 0;" type="number" min="1" max="20" class="printhead-number-input" [(ngModel)]="printHeadCountInput" (change)="onPrintHeadCountChange()">
    </div>
  </mat-card-header>

  <mat-card-content style="background-color: mistyrose;">
    <div class="grid-list-container">
      <div class="flex-container" style="justify-content: center; padding-right: 0; padding-left: 0;">
        <div *ngFor="let printhead of printHeads; let printHeadIndex = index" class="flex-item">
          <mat-card [ngClass]="{'disabled': !printhead.active}">
            <mat-card-title>
              <div class="printhead-setup-title" style="font-size: 0.74rem;">
                <mat-form-field appearance="fill" class="printhead-description-field grid-item">
                  <mat-label>Printhead Description</mat-label>
                  <input matInput [(ngModel)]="printhead.description" [disabled]="!printhead.active">
                </mat-form-field>
                <mat-form-field appearance="fill" class="needle-od-field grid-item">
                  <mat-label class="custom-mat-label">Needle</mat-label>
                  <mat-select class="needle-select custom-mat-select" [(ngModel)]="printhead.needle" (selectionChange)="onNeedleChange(printhead, $event.value)" [disabled]="!printhead.active">
                    <mat-option *ngFor="let needle of needles" [value]="needle" class="custom-mat-select-option">{{needle.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="color-field grid-item">
                  <mat-label>Color</mat-label>
                  <input *ngIf="printhead.active" matInput type="color" [(ngModel)]="printhead.color" (change)="onPrintPositionColorChange(printhead, printhead.color)">
                  <input *ngIf="!printhead.active" matInput type="color" [(ngModel)]="inactiveColor" [disabled]="true">
                </mat-form-field>
              </div>
            </mat-card-title>
            <mat-card-content class="grid-container">
              <div class="print-position-picker-wrapper">
                <div class="print-position-picker grid-item"
                     [ngStyle]="getStylePrintPositionPicker()">
                  <div class="watermark" *ngIf="!printPositionService.toScale">
                    NOT TO<br>SCALE
                  </div>
                  <ng-container *ngFor="let printPosition of printhead.printPositions; let j = index">
                    <button class="print-position-picker-position-button custom-button-toggle" [ngStyle]="{
                      'background-color': !printhead.active ? 'grey' : (printPosition.selected ? printhead.color : 'white'),
                      'width': printPositionService.printPositionButtonWidthPX[printHeadIndex] + 'px',
                      'top': 'calc(' + printPositionService.printPositionOriginsPct[j].y + '% - ' + (printPositionService.printPositionButtonWidthPX[printHeadIndex]/2) + 'px)',
                      'left': 'calc(' + printPositionService.printPositionOriginsPct[j].x + '% - ' + (printPositionService.printPositionButtonWidthPX[printHeadIndex]/2) + 'px)'
                    }" [matTooltip]="'x: ' + ((printPosition?.originMM_absolute?.x || 0).toFixed(1)) + ', y: ' + ((printPosition?.originMM_absolute?.y || 0).toFixed(1))"

                            (click)="togglePrintHeadButton(printhead, printPosition)"
                    ></button>
                  </ng-container>
                </div>
              </div>
              <div class="print-depth-wrapper grid-item" style="align-content: center; display:grid;">
                <app-print-depth></app-print-depth>
              </div>
            </mat-card-content>


            <div class="footer-wrapper">

              <div class="active-toggle-container flex-item" style="min-height: 32px;">
                <mat-slide-toggle [(ngModel)]="printhead.active" class="active-toggle" (change)="onActiveToggleChange(printhead, $event)"></mat-slide-toggle>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
