
  <mat-form-field class="printhead-number-input-wrapper" appearance="fill">
    <mat-label>Number of Printheads</mat-label>
    <input matInput type="number" min="1" max="20" class="printhead-number-input" [(ngModel)]="printHeadCountInput" (change)="onPrintHeadCountChange()">
  </mat-form-field>

<div class="grid-list-container">
  <div class="flex-container" style="justify-content: center; padding-right: 0; padding-left: 0;">
    <div *ngFor="let printhead of printHeads; let printHeadIndex = index" class="flex-item">
      <mat-card [ngClass]="{'disabled': !printhead.active}">

        <mat-card-title>
          <div class="printhead-setup-title" style="font-size: 0.74rem;">
            <mat-form-field appearance="fill" class="printhead-description-field grid-item">
              <mat-label>Printhead Description</mat-label>
              <input matInput [(ngModel)]="printhead.description" [disabled]="!printhead.active">
            </mat-form-field>
            <mat-form-field appearance="fill" class="needle-od-field grid-item">
              <mat-label class="custom-mat-label">Needle</mat-label>
              <mat-select class="needle-select custom-mat-select" [(ngModel)]="printhead.needle" (selectionChange)="updatePrintHeadNeedle(printhead, $event.value)">
                <mat-option *ngFor="let needle of needles" [value]="needle" class="custom-mat-select-option">{{needle.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="color-field grid-item">
              <mat-label>Color</mat-label>
              <input *ngIf="printhead.active" matInput type="color" [(ngModel)]="printhead.color" (change)="onPrintPositionButtonChange(printhead, printHeadIndex, true)">
              <input *ngIf="!printhead.active" matInput type="color" [(ngModel)]="inactiveColor" [disabled]="true">
            </mat-form-field>
          </div>
        </mat-card-title>

        <mat-card-content class="grid-container">
          <div class="print-position-picker-wrapper">
            <div class="print-position-picker grid-item"
                 [ngStyle]="getPrintPositionPickerStyle(printhead)">
              <ng-container *ngFor="let printHeadButton of printhead.printPositionButtons; let j = index">
                <mat-button-toggle
                  (click)="toggleButton(printhead, printHeadButton)"
                  [checked]="printHeadButton.selected"
                  class="print-position-picker-position-button custom-button-toggle"
                  [ngStyle]="getMergedStyles(printhead, printHeadButton)"
                ></mat-button-toggle>
              </ng-container>
            </div>
          </div>
          <div class="print-depth-wrapper grid-item">
            <app-print-depth></app-print-depth>
          </div>
        </mat-card-content>


        <div class="footer-wrapper">

          <div class="active-toggle-container flex-item" style="min-height: 32px;">
            <mat-slide-toggle [(ngModel)]="printhead.active" class="active-toggle" (change)="onActiveToggleChange($event)"></mat-slide-toggle>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>


            <!--  <div class="print-position-picker-scalar">-->
<!--    <mat-form-field class="printhead-number-input-wrapper" appearance="fill">-->
<!--      <mat-label>Number of Printheads</mat-label>-->
<!--      <input matInput type="number" min="1" max="20" class="printhead-number-input" [(ngModel)]="numberOfPrintHeads" (change)="updatePrintHeads()">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="grid-list-container">-->
<!--    <div class="flex-container" style="justify-content: center; padding-right: 0">-->
<!--      <div *ngFor="let printhead of printHeads; let i = index" class="flex-item">-->
<!--        <mat-card [ngClass]="{'disabled': !printhead.active}">-->
<!--          <div class="printhead-header flex-container">-->
<!--            <mat-form-field appearance="fill" class="printhead-description-field flex-item">-->
<!--              <mat-label>Printhead Description</mat-label>-->
<!--              <input matInput [(ngModel)]="printhead.description" [disabled]="!printhead.active">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="color-field flex-item">-->
<!--              <mat-label>Color</mat-label>-->
<!--              <input *ngIf="printhead.active" matInput type="color" [(ngModel)]="printhead.color" (change)="updatePrintHeadButtons(printhead, i, true)">-->
<!--              <input *ngIf="!printhead.active" matInput type="color" [(ngModel)]="inactiveColor" [disabled]="true">-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          <div class="active-toggle-wrapper">-->
<!--            <mat-slide-toggle [(ngModel)]="printhead.active" class="active-toggle" (change)="updatePrintHeadButtons(printhead, i, true)"></mat-slide-toggle>-->
<!--          </div>-->
<!--          <mat-card-content style="display: flex; justify-content: center;">-->
<!--            <div class="print-position-picker" [ngStyle]="{ 'width': (getPrintPickerWidthPX()) + 'px' }">-->
<!--              <ng-container *ngFor="let printHeadButton of printhead.printPositionButtons; let j = index">-->
<!--                <mat-button-toggle-->
<!--                  (click)="toggleButton(printHeadButton)"-->
<!--                  [checked]="printHeadButton.selected"-->
<!--                  class="print-position-picker-position-button custom-button-toggle"-->
<!--                  [ngStyle]="{-->
<!--                    'width': (getButtonWidthPX()) + 'px',-->
<!--                    'top': (getButtonTopPX(printhead, j)) + 'px',-->
<!--                    'left': (getButtonLeftPX(printhead, j)) + 'px',-->
<!--                    'background-color': printHeadButton.selected ? printhead.color : 'white'-->
<!--                  }"-->
<!--                ></mat-button-toggle>-->
<!--              </ng-container>-->
<!--            </div>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

