/* Print depth */
.print-depth-wrapper {
  grid-column: 2;

}

.printhead-card-title {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  font-size: 0.5em;
  margin: 0 0 0 1em;
}

.printhead-description-field {
  font-size: 1rem;
}

.footer-wrapper {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
}

.toggle-text {
  display: inline-block;
}

.mat-mdc-card-title {
  top: 0px;
  margin: 0;
  align-items: center;
  justify-content: left;
}

.mat-mdc-card-title > .mat-mdc-text-field {}
.mat-mdc-card-title > * {
  border-radius: 0;
}

printhead-setup .mat-card-tile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px
  1px -2px rgba(0, 0, 0, 0.2);
  margin: 4px;
}



.mat-mdc-form-field-subscript-wrapper {
  margin: 0;
  padding: 0;
  display: none;
}

.mat-mdc-form-field-hint-wrapper {
  display: none;
}

.mat-mdc-form-field-bottom-align::before {
  height: 5px;
}

.input-container {
  display: flex;
}

.mat-button-toggle:focus {
  outline: none;
}

.mat-button-toggle:focus .mat-button-toggle-label-content {
  outline: 2px solid #007bff;
  outline-offset: 2px;
  border-radius: 50%;
}

.selected-button-glow {
  box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.5) !important;
}



.mat-mdc-card {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.custom-mat-select-option {
  font-size: 11px;
  height: 1rem;
}

.mat-mdc-form-field .mat-mdc-select {
  font-size: 12px;
}

.mat-form-field {
  font-size: 9px; /* decrease the font size */
  height: 18px; /* decrease the height */
  width: 65px; /* decrease the width */
}

.printhead-number-input-wrapper > * {
  padding: 0px !important;
  margin: 0px !important;
}
.printhead-number-input {
  font-size: 14px; /* decrease font size */
  height: 24px; /* decrease height */
  padding: 2px 4px; /* adjust padding as needed */
}

.input-wrapper {
  flex-direction: column;
  text-align: right;
}


.label {
  margin-bottom: 4px;
}
.printhead-number-input {
  text-align: center;
}
.print-head-type-field,
.needle-od-field,
.color-field {
  grid-row: 2;
}

.printhead-temperature-toggle-input-combo {
  align-items: center;
  grid-row: 3;
  grid-column: 1 / 3;
}

.printhead-setup-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  font-size: 0.74rem;
}

.printhead-description-input {
  grid-column: 1 / 5;
}

.print-head-type-select-input {
  grid-column: 1 / 3;
}

.toggle-input-wrapper {
  display: flex;
  flex-direction: row;
}

.grid-item {
  color: red;
}

.printhead-description-input {
  color: blue;
}

