<div class="print-position-picker grid-item"
     [ngStyle]="getStylePrintPositionPicker()">
  <div class="watermark" *ngIf="!printPositionService.toScale">
    NOT TO<br>SCALE
  </div>
  <ng-container *ngFor="let printPosition of printhead.printPositions; let j = index">
    <button class="print-position-picker-position-button custom-button-toggle" [ngStyle]="{
                    'background-color': !printhead.active ? 'grey' : (printPosition.selected ? selectedColor : 'white'),
                    'width': printPositionService.printPositionButtonWidthPX[printhead.printHeadIndex] + 'px',
                    'top': 'calc(' + printPositionService.printPositionOriginsPct[j].y + '% - ' + (printPositionService.printPositionButtonWidthPX[printhead.printHeadIndex]/2) + 'px)',
                    'left': 'calc(' + printPositionService.printPositionOriginsPct[j].x + '% - ' + (printPositionService.printPositionButtonWidthPX[printhead.printHeadIndex]/2) + 'px)'
                  }"
            [matTooltip]="'x: ' + ((printPosition?.originMM_absolute?.x || 0).toFixed(1)) + ', y: ' + ((printPosition?.originMM_absolute?.y || 0).toFixed(1))"

            (click)="togglePrintHeadButton(printhead, printPosition)"
    ></button>
  </ng-container>
</div>

