<div class="slider-container">
  <div class="slider">
    <div class="slider-track"></div>
    <div
      class="slider-thumb start-thumb"
      [style.bottom]="startThumbPosition + '%'"
      (mousedown)="onMouseDown($event, 'start')"
    ></div>
    <div
      class="slider-thumb end-thumb"
      [style.bottom]="endThumbPosition + '%'"
      (mousedown)="onMouseDown($event, 'end')"
    ></div>
    <div class="slider-ticks">
      <ng-container *ngFor="let tick of ticks; index as i">
        <div
          class="slider-tick"
          [ngClass]="{ 'major': tick % 5 === 0 }"
          [style.bottom]="tick * tickSpacing + '%'"
        ></div>
      </ng-container>
    </div>
  </div>
  <div class="slider-labels">
    <ng-container *ngFor="let label of labels">
      <div class="slider-label" [style.bottom]="label.value * tickSpacing + '%'">{{ label.label }}</div>
    </ng-container>
  </div>
</div>
