.custom-icon-chip-pneumatic {
  background-image: url('../../assets/pneumatic printhead icon.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  /* Additional styles if needed */
}
