<mat-form-field *ngIf="printhead"
                subscriptSizing="dynamic"
                appearance="outline"
                class="needle-od-field grid-item"
                style="width:115px;">
  <mat-label class="custom-mat-label">Needle</mat-label>
  <mat-select class="needle-select custom-mat-select"
              (selectionChange)="onNeedleChange($event)"
              [(ngModel)]="printhead.needle"
              [disabled]="!printhead.active">
    <mat-option *ngFor="let needle of availableNeedles" [value]="needle"
                class="custom-mat-select-option">{{needle.name}}</mat-option>
  </mat-select>
</mat-form-field>
