.plate-map {
  display: grid;
  gap: 5px;
}

.well-row {
  display: contents;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #aaaaaa; /* set your desired background color here */
}
