.plate-map {
  display: grid;
  gap: 5px;
}

.well-row {
  display: contents;
}

.well {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 50%; /* Add this property to make wells circles */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
