html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #aaaaaa; /* set your desired background color here */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* You can adjust the gap between flex items */
  padding: 8px;
}

.no-subscript-wrapper {
  margin-bottom: -1.4em;
}
