<div class="printhead-tool-options-wrapper">

  <app-printhead-needle-select
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.canExtrude)"
    [printhead]="printhead"
    (needleChanged)="onNeedleChanged($event)">
  </app-printhead-needle-select>
  <!-- Photocuring only -->
  <app-printhead-led-wavelength
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasPhotocuring)"
    [printhead]="printhead"
    [selectedPrintheadTool]="selectedPrintheadTool"
  ></app-printhead-led-wavelength>
  <app-printhead-led-intensity
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasPhotocuring)"
    [printhead]="printhead"
  ></app-printhead-led-intensity>
  <!-- hdCamera only -->
  <app-printhead-camera-filename
    [style.display]="(selectedPrintheadTool && selectedPrintheadTool.behavior.hasCamera) ? 'block' : 'none'"
    [printhead]="printhead"
  ></app-printhead-camera-filename>


  <!---- EMD only -->
  <app-printhead-emd-mode
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasEmd)"
    [formControl]="emdModeControl"
    [printhead]="printhead">
  </app-printhead-emd-mode>
      <app-printhead-emd-dispensing-time *ngIf="selectedPrintheadTool && selectedPrintheadTool.behavior.hasEmd && emdModeControl.value === 'continuous'"
      [printhead]="printhead"
    ></app-printhead-emd-dispensing-time>
    <app-printhead-emd-valve-cycle-time *ngIf="selectedPrintheadTool && selectedPrintheadTool.behavior.hasEmd && emdModeControl.value === 'droplet'"
      [printhead]="printhead"
    ></app-printhead-emd-valve-cycle-time>
    <app-printhead-emd-valve-open-time *ngIf="selectedPrintheadTool && selectedPrintheadTool.behavior.hasEmd && emdModeControl.value === 'droplet'"
      [printhead]="printhead"
    ></app-printhead-emd-valve-open-time>

  <!-- Syringe only -->
  <app-printhead-syringe-extrusion-rate
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasSyringePump)"
    [printhead]="printhead"
  ></app-printhead-syringe-extrusion-rate>
  <app-printhead-syringe-extrusion-volume
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasSyringePump)"
    [printhead]="printhead"
  ></app-printhead-syringe-extrusion-volume>
  <app-printhead-pressure
    [hidden]="!(selectedPrintheadTool && selectedPrintheadTool.behavior.hasSyringePump || selectedPrintheadTool && selectedPrintheadTool.behavior.hasPneumaticControl)"
    [printhead]="printhead"
  ></app-printhead-pressure>
</div>
