.printhead-tool-options-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.printhead-tool-options-wrapper > * {
  flex: 1;
  min-width: 85px;
}

:host {
  display: flex;
  flex-grow: 1;
}

